
body{
  font-family: 'Montserrat', sans-serif;
}
/* Title Section */
#title{
  background-image:linear-gradient(to left, rgba(255, 0, 0, 0.311),rgba(255, 0, 0, 0.1));
  
}
.container-fluid{
  padding: 3% 0 0 10%;
}

#text{
  padding-top: 100px ; 
}


h2{
  line-height: 1.5;
}
h1{
  font-weight: bold;
  text-shadow: 2px 2px 5px rgb(38, 37, 38);
  line-height: 1.5;
}
p{
  line-height: 2.5;
}
button{
  margin-top: 30px;
  margin-right: 30px;
  /* margin-bottom: 30px;  */
  

}
/* Nav Bar */
.navbar-brand{
  color: #FFC60B;
  font-family: 'Great Vibes', cursive;
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item a{
  color: black;
  font-weight: bold;
  
}
@media (max-width:1028px){
  #text{
    text-align: center;
  }
  .title-img{
    width: 100%;
    height:100%;
  }
  button{
    margin-bottom:20px ;
  }
  
}


/* Features Section */
#features{
  padding: 5% 10%;
  background-color:#C8FFD4;
  text-align: center;
}
#features h2{
  margin-bottom: 50px;
  font-weight: bold;
  color: #10A19D;
}
.feature-box img{
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

/* Our Favorites Section */
#ourfavorites{
  padding: 5% 10%;
  text-align: center;
}

#ourfavorites h2{
  margin-bottom: 50px;
  font-weight: bold;
  color: #FF6464;
}

.favorites img{
  width: 300px;
  height: 300px;
}

/* Pricing Section */
#pricing{
  padding: 5% 10%;
  text-align: center;
  background-color:rgba(187, 0, 255, 0.216);
}
#pricing h2 {
  color: #905E96;
  font-weight: bold;
}
.pricing img{
  width:300px ;
  height: 300px;
  margin-bottom: 50px;
}

/* Testimonials Section */
#testimonials{ 
  text-align: center;
  background-color: #c57272d4;
}
#testimonials img{
  width:10%;
  height: 10%;
  border-radius: 100%;
  margin-top: 20px;
  margin-right: 20px;
}
.carousel-item{
  padding: 5% 15%;
}
/* CTA Section */
#cta{
  padding: 5% 10%;
  text-align: center;
  background-color: #18998ca1;
}

/* Footer */
#footer{
  padding: 3% 10%;
  text-align: center;
  background-color: #5a585a;
}
#footer img{
  width:30px;
  height: 30px;
  margin-bottom: 5px;
}
#footer .social-icon{
  margin:20px 15px;
  color:white;

} 

